In [10]:
def factorial(n):
    if n == 1:
        return 1
    else:
        factorial(n-1)

print(factorial(10))

None

In [11]:
def print_hello_world():
    print("hello world")

print_hello_world()

hello world

In [12]:
a = 'abcde'
for i in range (0, 5):
    print(a[i])

a
b
c
d
e

In [13]:
a = 'abcde'
for i in range (-1, -6,-1):
    print(a[i])

e
d
c
b
a

In [14]:
a = "Gachon University"
print(a[0:6], " AND ", a[-9:])
print(a[:])
print(a[-50:50])
print(a[::2], a[::-1])

Gachon  AND  niversity
Gachon University
Gachon University
Gco nvriy ytisrevinU nohcaG

In [15]:
a = "TEAM"
b = "LAB"

print(a*2 + " " + b*2)
if 'A' in a:
    print (a)
else:
    print(b)

TEAMTEAM LABLAB
TEAM

In [16]:
# stack..

word = "1234567"

word_list = list(word)
for i in range(len(word_list)):
    print(word_list.pop())

7
6
5
4
3
2
1

In [17]:
word = "1234567"

word_list = list(word)
for i in range(len(word_list)):
    print(word_list.pop(0))

1
2
3
4
5
6
7

# tuple
튜플  (tuple)
- 값의  변경이  불가능한  리스트
- 선언  시  “[ ]” 가     아닌  “( )”를  사용
- 리스트의 연산, 인덱싱, 슬라이싱 등을 동일하게 사용

왜  쓸까?
프로그램을  작동하는  동안  변경되지  않은  데이터의  저장 
Ex) 학번, 이름, 우편번호  등등

In [18]:
t = (1,2,3)
print (t + t , t * 2) # (1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3) 
len(t)

(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3)

3

In [19]:
 t = (1, )

In [20]:
t

(1,)

집합  (set)
- 값을  순서없이  저장, 중복  불허  하는  자료형 
- set 객체  선언을  이용하여  객체  생성

In [24]:
s = set([1,2,3,1,2,3])      #  set 함수를  사용  1,2,3을   집합  객체  생성 
print(s)

s.add(1) 
print(s)

s.remove(1)
#  한  원소  1만  추가,  추가, 중복불허로  추가  되지  않음 
#  1 삭제
print(s)

s.discard(3) 
print(s)

s.clear()
print(s)

s.update([1,4,5,6,7]) #  [1,4,5,6,7] 추가
print(s)
#  3 삭제
# 모든 원소 삭제

{1, 2, 3}
{1, 2, 3}
{2, 3}
{2}
set()
{1, 4, 5, 6, 7}